.fav-page.en
    .welcome.cont
        .welcome__left
            h1.welcome__title MORE EVENTS, #[br] BIGGER BOOST!
            p.welcome__txt #[span Make multiple bets] #[br] with minimum odds of #[span 1.35] for each event and from #[span 4 events in the coupon] — multiply your winnings!
            a.welcome__btn.btn(href="/sports/sport/" data-page="favbooster-31.10.25" data-button="go_to_sport_header") MAKE BETS
        .welcome__right
            .welcome__phone
                picture
                    source(media="(max-width: 600px)" srcset="img/mobile-mob.png")
                    source(media="(max-width: 1050px)" srcset="img/mobile-tab.png")
                    img(src="img/mobile-desc.png" alt="phone")
            .welcome__decor
                .welcome__decor-item.buts
                    picture
                        source(media="(max-width: 600px)" srcset="img/buts-mob.png")
                        source(media="(max-width: 1050px)" srcset="img/buts-tab.png")
                        img(src="img/buts-desc.png" alt="buts")
                .welcome__decor-item.box
                    picture
                        source(media="(max-width: 600px)" srcset="img/box-mob.png")
                        source(media="(max-width: 1050px)" srcset="img/box-tab.png")
                        img(src="img/box-desc.png" alt="box")
                .welcome__decor-item.ball
                    picture
                        source(media="(max-width: 600px)" srcset="img/ball-mob.png")
                        source(media="(max-width: 1050px)" srcset="img/ball-tab.png")
                        img(src="img/ball-desc.png" alt="ball")
                .welcome__decor-item.tennis
                    picture
                        source(media="(max-width: 600px)" srcset="img/tennis-mob.png")
                        source(media="(max-width: 1050px)" srcset="img/tennis-tab.png")
                        img(src="img/tennis-desc.png" alt="tennis")
                .welcome__decor-item.football
                    picture
                        source(media="(max-width: 600px)" srcset="img/football-mob.png")
                        source(media="(max-width: 1050px)" srcset="img/football-tab.png")
                        img(src="img/football-desc.png" alt="football")
    .info.cont
        h2.info__title FAVBOOSTER Grid
        .info__cont
            //bonus #1
            .info__item
                .info__item-top
                    .info__item-img
                        img(src="img/gift.svg" alt="gift")
                    .info__item-procent 3%
                .info__item-center For 4 events
                .info__item-bottom Equivalent odds: 1.03
                .info__item-arrows
                    picture.arrow
                        source(media="(max-width: 1050px)" srcset="img/arrow-magenta-tab.svg")
                        img(src="img/arrow-magenta.svg" alt="arrow")
                    picture.arrow
                        source(media="(max-width: 1050px)" srcset="img/arrow-magenta-tab.svg")
                        img(src="img/arrow-magenta.svg" alt="arrow")
                    picture.arrow
                        source(media="(max-width: 1050px)" srcset="img/arrow-magenta-tab.svg")
                        img(src="img/arrow-magenta.svg" alt="arrow")
            .info__item
                .info__item-top
                    .info__item-img
                        img(src="img/gift.svg" alt="gift")
                    .info__item-procent 4%
                .info__item-center For 5 events
                .info__item-bottom Equivalent odds: 1.04
                .info__item-arrows
                    picture.arrow
                        source(media="(max-width: 1050px)" srcset="img/arrow-magenta-tab.svg")
                        img(src="img/arrow-magenta.svg" alt="arrow")
                    picture.arrow
                        source(media="(max-width: 1050px)" srcset="img/arrow-magenta-tab.svg")
                        img(src="img/arrow-magenta.svg" alt="arrow")
                    picture.arrow
                        source(media="(max-width: 1050px)" srcset="img/arrow-magenta-tab.svg")
                        img(src="img/arrow-magenta.svg" alt="arrow")
            //bonus #3
            .info__item
                .info__item-top
                    .info__item-img
                        img(src="img/gift.svg" alt="gift")
                    .info__item-procent 5%
                .info__item-center For 6 events
                .info__item-bottom Equivalent odds: 1.05
                .info__item-arrows
                    picture.arrow
                        source(media="(max-width: 1050px)" srcset="img/arrow-magenta-tab.svg")
                        img(src="img/arrow-magenta.svg" alt="arrow")
                    picture.arrow
                        source(media="(max-width: 1050px)" srcset="img/arrow-magenta-tab.svg")
                        img(src="img/arrow-magenta.svg" alt="arrow")
                    picture.arrow
                        source(media="(max-width: 1050px)" srcset="img/arrow-magenta-tab.svg")
                        img(src="img/arrow-magenta.svg" alt="arrow")
            //bonus #4
            .info__item
                .info__item-top
                    .info__item-img
                        img(src="img/gift.svg" alt="gift")
                    .info__item-procent 8%
                .info__item-center For 7 events
                .info__item-bottom Equivalent odds: 1.08
                .info__item-arrows
                    picture.arrow
                        source(media="(max-width: 1050px)" srcset="img/arrow-magenta-tab.svg")
                        img(src="img/arrow-magenta.svg" alt="arrow")
                    picture.arrow
                        source(media="(max-width: 1050px)" srcset="img/arrow-magenta-tab.svg")
                        img(src="img/arrow-magenta.svg" alt="arrow")
                    picture.arrow
                        source(media="(max-width: 1050px)" srcset="img/arrow-magenta-tab.svg")
                        img(src="img/arrow-magenta.svg" alt="arrow")
            //bonus #5
            .info__item
                .info__item-top
                    .info__item-img
                        img(src="img/gift.svg" alt="gift")
                    .info__item-procent 10%
                .info__item-center For 8 events
                .info__item-bottom Equivalent odds: 1.10
                .info__item-arrows
                    picture.arrow
                        source(media="(max-width: 1050px)" srcset="img/arrow-magenta-tab.svg")
                        img(src="img/arrow-magenta.svg" alt="arrow")
                    picture.arrow
                        source(media="(max-width: 1050px)" srcset="img/arrow-magenta-tab.svg")
                        img(src="img/arrow-magenta.svg" alt="arrow")
                    picture.arrow
                        source(media="(max-width: 1050px)" srcset="img/arrow-magenta-tab.svg")
                        img(src="img/arrow-magenta.svg" alt="arrow")
            //bonus #6
            .info__item
                .info__item-top
                    .info__item-img
                        img(src="img/gift.svg" alt="gift")
                    .info__item-procent 12%
                .info__item-center For 9 events
                .info__item-bottom Equivalent odds: 1.12
                .info__item-arrows
                    picture.arrow
                        source(media="(max-width: 1050px)" srcset="img/arrow-magenta-tab.svg")
                        img(src="img/arrow-magenta.svg" alt="arrow")
                    picture.arrow
                        source(media="(max-width: 1050px)" srcset="img/arrow-magenta-tab.svg")
                        img(src="img/arrow-magenta.svg" alt="arrow")
                    picture.arrow
                        source(media="(max-width: 1050px)" srcset="img/arrow-magenta-tab.svg")
                        img(src="img/arrow-magenta.svg" alt="arrow")
            //bonus #7
            .info__item
                .info__item-top
                    .info__item-img
                        img(src="img/gift.svg" alt="gift")
                    .info__item-procent 15%
                .info__item-center For 10 events
                .info__item-bottom Equivalent odds: 1.15
        a.info__btn.btn(href="/sports/sport/" data-page="favbooster-31.10.25" data-button="go_to_sport_content") MAKE BETS
    .fiq
        .drop
            details.dropdown
                summary How to get a bonus
                .drop-txt
                    .drop-txt-inner
                        .drop-txt-list
                            p Place multiple bets of at least #[span 4 events] (minimum odds #[span 1.35] per event) with a minimum bet of €0.50 in the Sports or Live sections, and get up to 15% extra winnings according to the FAVBOOSTER grid.
                            p Does not apply to System bets, Risk-Free bets, or CashOut.
        .drop
            details.dropdown
                summary What bets are included in the promotion?
                .drop-txt
                    .drop-txt-inner
                        .drop-txt-list
                            p Only #[span Multiple-type bets] (pre-match, live, or mixed) placed in the #[span Sport and/or Live] sections are considered.
        .drop
            details.dropdown
                summary What are the requirements for bets?
                .drop-txt
                    .drop-txt-inner
                        .drop-txt-list
                            p The grid applies to all tickets that include a minimum of 4 events, each with a minimum odds of 1.35.
                            p Example: #[br] If a ticket contains 10 events, of which 7 have minimum odds of 1.35 and 3 have odds below 1.35, the ticket is considered eligible for the 7 events that meet the eligibility criteria.
                            p According to the Multi-Express grid, an additional winning percentage of 8% (equivalent odds: 1.08) will be applied.
                            p The grid does not apply to System Bets or Risk-Free Bets, and in cases where the Cash Out option is used, it becomes invalid.
        .drop._rules
            details.dropdown
                summary Official rules of the promotion:
                .drop-txt
                    .drop-txt-inner
                        .drop-txt-list
                            p.strong Article 1 Organizer of the Campaign
                            p.retreat1 1.1 The organizer is FAVBET ONLINE S.R.L., a commercial company headquartered in Bucharest, registered at the Trade Registry Office attached to the Bucharest Tribunal under registration number J40/14188/2015 dated 18.11.2015, CUI number 35246629, License series: L1200662W0011197, valid from 01.05.2020.
                            p.retreat1 1.2 The campaign is carried out in accordance with this Regulation. Participants in the promotional campaign must be aware of and comply with the clauses of this Regulation.
                            p.strong Article 2 Venue of the Campaign
                            p.retreat1 2.1 The campaign takes place exclusively on the Organizer's Platform, Favbet.ro.
                            p.strong Article 3 Duration of the Campaign
                            p.retreat1 3.1 The duration of the campaign is from xx.xx.2025 until 31.12.2025 at 23:59.
                            p.strong Article 4 Mechanism of Campaign
                            p.retreat1 4.1 The campaign is addressed exclusively to players who hold an active account on the Organizer's platform.
                            p.retreat1 4.2 Only Multiple-type bets (pre-match, live, or mixed) placed in the Sport and/or Live sections are considered.
                            p.retreat1 4.3 Depending on the total number of events included on the bet slip, a percentage multiplier will be applied to the total odds of the bet, as follows:
                            p.retreat1 FAVBOOSTER Grid
                            p.retreat1.circle For 4 events – 3% (equivalent odds: 1.03)
                            p.retreat1.circle For 5 events – 4% (equivalent odds: 1.04)
                            p.retreat1.circle For 6 events – 5% (equivalent odds: 1.05)
                            p.retreat1.circle For 7 events – 8% (equivalent odds: 1.08)
                            p.retreat1.circle For 8 events – 10% (equivalent odds: 1.10)
                            p.retreat1.circle For 9 events – 12% (equivalent odds: 1.12)
                            p.retreat1.circle For 10 events – 15% (equivalent odds: 1.15)
                            p.retreat1 4.4 The FAVBOOSTER grid applies to all tickets that include a minimum of 4 events, each with a minimum odds of 1.35, #[span and a minimum bet of…]
                            p.retreat1 4.5 The additional percentage established according to the grid is represented by the equivalent of an odds value.
                            p.retreat1 4.6 The final percentage is updated after all events on the ticket have been validated (regardless of the result). If at least one event on the ticket receives odds of 1.00 for any reason, the campaign may still remain valid, provided that at least 4 events on the ticket continue to meet the minimum odds requirement of 1.35.
                            p.retreat1 4.7 If a ticket includes one or more events with odds below 1.35, the additional percentage may only be granted if, after excluding these events, the ticket still meets the eligibility criteria specified in the grid above. #[span - Example:] If a ticket contains 10 (ten) events, of which 7 (seven) have minimum odds of 1.35 and 3 (three) have odds below 1.35, the ticket is considered eligible for the 7 (seven) events that meet the eligibility criteria. According to the FAVBOOSTER grid, an additional winning percentage of 8% (equivalent odds: 1.08) will be applied.
                            p.retreat1 4.8 The FAVBOOSTER Campaign does not apply to System Bets or Risk-Free Bets, and in cases where the Cash Out option is used, it becomes invalid.
                            p.retreat1 4.9 After applying the final percentage according to the FAVBOOSTER grid, the total odds cannot exceed 50,000, and the maximum winning per ticket cannot exceed 200,000 lei.
                            p.strong Article 5 Other Clauses
                            p.retreat1 5.1 Favbet reserves the right to exclude players participating in this campaign who create multiple accounts, are self-excluded, or have been blocked, by closing such accounts.
                            p.retreat1 5.2 Employees of Favbet Online Company, collaborators, employees of collaborators, as well as their spouses, first-degree relatives, are not entitled to participate in this Campaign.
                            p.retreat1 5.3 Favbet reserves the right to suspend the Campaign for a player, a group, or for all players, without prior explanations or notifications, if it is used in a manner contrary to the Organizer's Rules.
                            p.retreat1 5.4 The Campaign complies with Favbet's Regulations and Terms and Conditions.
                            p.retreat1 5.5 Players participating in this campaign may also participate in other promotions / campaigns / bonuses available on the Organizer's platform.
                            p.retreat1 5.6 The Campaign is limited to one use per account / address / IP, etc.
                            p.strong Article 6 Participant Information
                            p.retreat1 6.1 The Campaign Regulation is available on the Organizer's Platform Favbet.ro.
                            p.retreat1 6.2 Participation in this Campaign requires compliance with all provisions of this Regulation and the General Terms and Conditions.
                            p.retreat1 6.3 For any issues related to this campaign, you can contact us at the email address: support@favbet.ro.
                            p.retreat1 6.4 The campaign is valid on all versions of the platform (desktop, mobile, and mobile application).
                            p.strong Article 7 Final Provisions
                            p.retreat1 7.1 Participation in this Campaign represents the player's full agreement to comply with this Regulation.
                            p.retreat1 7.2 Participation in the Campaign is prohibited for persons under 18 years of age.
                            p.retreat1 7.3 This Regulation may be amended and/or updated at any time without prior notice to the players, who are obligated to periodically check for any updates. Additionally, the Campaign may be suspended or terminated at any time without prior notice to the players.
                            p.retreat1 7.4 If it is found that a player has violated the Regulation, he/she will be excluded from the Campaign.
                            p.retreat1 7.5 The Organizer assumes no responsibility in the following cases (without limitation):
                            p.retreat1.circle the postponement of the Campaign and errors that occur during it;
                            p.retreat1.circle connection errors or other technical problems (Desktop, Mobile, Tablet, and internet) of the players;
                            p.retreat1.circle for receiving incomplete and/or incorrect contact details and/or other necessary information for the Campaign.